<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main id="main">
        <section class="aboutme">
            <h1 class="title">About Me</h1>
            <img class="picture" src="/public/images/pp.jpg"/>
            <p class="description" style="margin-top:20px;">
                I am Abdulkadir Musse. I studied Software Engineering Tech. at Centennial College, Toronto. I'm well-versed in Java, C#, .NET, JavaScript, SQL and Linux. I'm passionate about programming, especially game and web development.
            </p>
            
            <a href="public/docs/resume.pdf" class="button" download>View Resume</a>
        </section>
    </main>
    <footer id="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>