<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main id="main">
       <section class="projects">
            <h1 class="section-title">My Projects</h1>
                <div class="cards-container">
                <div class="image-card-1">
                    <div class="image">
                        <img src="public/images/project1.png"/>
                    </div>
                    <div class="content">
                        <h4 class="title">Image Gallery</h4>
                        <p>
                            Implemented a simple Image gallery using Ajax and JQuery.
                        </p>
                    </div>
                </div>
                <div class="image-card-1">
                    <div class="image">
                        <img src="public/images/project2.png"/>
                    </div>
                    <div class="content">
                        <h4 class="title">Bug smasher</h4>
                        <p>
                            Implemented a simple Bug Smasher browser-based game. Coded with Vanilla JS.
                        </p>
                    </div>
                </div>
                <div class="image-card-1">
                    <div class="image">
                        <img src="public/images/project3.png"/>
                    </div>
                    <div class="content">
                        <h4 class="title">BMR calculator</h4>
                        <p>
                            Implemented a calorie intake calculator based on the Harris-Benedict equation.
                        </p>
                    </div>
                </div>
            </div>
       </section>
    </main>
    <footer id="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>